:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  width: 100%;
  text-align: center;

  h1 {
    color: orangered;
    font-size: 3rem;
  }
}

.radio-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.placeholder {
  color: #aaa;
}

#app {
  padding: 2rem;
}

#text-fields {
  width: 80vw;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

#output {
  width: 30%;
  height: 60vh;
  border: 1px solid black;
  background-color: white;
  overflow: auto;
  padding: 2rem;
}

code {
  font-size: 1.2rem;
}

textarea {
  padding: 2rem;
  width: 30%;
  height: 60vh;
  border: 1px solid black;
  background-color: white;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #504f4f;
  resize: none;
}

.html-symbol,
.css-brace {
  color: rgb(255, 165, 0);
}

.html-element,
.css-value {
  color: rgb(9, 125, 125);
}

.html-attribute,
.css-selector {
  color: rgb(229, 93, 116);
}

.css-property {
  color: rgb(8, 2, 54);
}
